body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.play-area {
    width: 768px;
    height: 768px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box {
    box-sizing: border-box;
    border: 1px solid red;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 15px;;
}

.user-inputs {
    display: flex;
    gap: 10px;
}
.select-squares {
    cursor:grab;
}